@import url('./components/structured.css');
@import url('./components/nav.css');

:root {
    --bg-color: #1f1f1f;
    --text-color: #b0c0c5;
}

body {
  background-color: var(--bg-color);
  font-family: calibri, system-ui, sans-serif;
  font-size: 16px;
  color: var(--text-color);
}

#crm-table {
  background-color: #2f2f2f;
  border: 10px #404040 solid;
  display: flex;
  flex-direction: center;
  justify-content: center;
  padding: 1em;
}
table { 
  width: 80%;
  border-collapse: collapse;
  margin-bottom: 20px; 
} 

th, td { 
  padding: 10px; 
  border: 1px solid #ccc; 
} 
hr {
  color: var(--text-color);
  width: 100%
}

img { 
  max-width: 80%; /* Ancho máximo de la imagen */ 
  height: auto; /* Altura automática */ 
  margin-bottom: 20px; 
  margin-top: 20px;
  border: 1em #404040 solid;
}

