<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{.Title}}</title>
  {{ with resources.Get "css/main.css" | css.Build }}
    <link rel="stylesheet" href="{{ .RelPermalink }}">
  {{ end }}
</head>
<body>
  <header>
    <h1 class="title"> {{ .Title }} </h1>
    <hr>
  </header>
  <main>
    <ul>
        {{ range .Data.Pages.ByParam "order" }}
        <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
        {{ end }}
    </ul>

    {{ .Content }}
  </main>
  <footer>
    <hr>
    Zuriel Dambolena
    <a href="/portafolio-universidad/">Home</a>
  </footer>

</body>
</html>